.primary-bg {
  background-color: #610303 !important;
}

.secondary-bg {
  background-color: #ffbf3d !important;
}

.primary-border {
  border-color: #610303 !important;
}

.primary-color {
  color: #610303 !important;
}

.secondary-color {
  color: #ffbf3d !important;
}

.tertiary-color {
  color: #ffffff !important;
}
